// @import'./normalize';
@import'./reset';
@import'./settings';
@import'./vars';
@import'./font';
body{
    font-family:'Poppins',sans-serif;
    
}
// header
.header{
    height:940px;
    background:url("../images/header_bg.png")left top/cover no-repeat;
}
// end header
